DEVICE={{bridge_device_name}}
TYPE=Bridge
BOOTPROTO=static
ONBOOT=yes
NM_CONTRILLED=no
DELAY=0
IPADDR={{static_ip_addr}}
PREFIX=24
GATEWAY={{static_gateway}}
DNS=8.8.8.8
PROXY_METHOD=none
BROWSER_ONLY=no
DEFROUTE=yes

#IPV4_FAILURE_FATAL=no
#IPV6INIT=yes
#IPV6_AUTOCONF=yes
#IPV6_DEFROUTE=yes
#IPV6_FAILURE_FATAL=no
#IPV6_ADDR_GEN_MODE=stable-privacy
