---
- hosts: localhost
  gather_facts: no
  become: yes
  vars_files:
    - ../group_vars/all/vars.yaml
  roles:
    - role: ../roles/react-app-local
      vars:
         react_project_name  : todo-app1


- hosts: all:!vagrant
  gather_facts: yes
  become: yes
  vars_files:
    - ../group_vars/all/vars.yaml

  roles:
    - role: ../roles/react-app
      vars:
         react_project_name  : todo-app1


